Содержимое этого файла - произвольное.
Наличие файла .aliases показывает процедуре LoadFilesToSRPool, 
что в каталоге работает система альясов.

Если имя файла заканчивается на @ (например, pony_dark@.png),
то вместо содержимого этого файла считывается файл, который указан
в нем.
Формат таких файлов:

filename=Имя реального файла в данном каталоге.
